{% extends "layout.html.twig" %}


{% set active = 'index' %}


{% block page_title %}
    Acceuil
{% endblock %}


{% block stylesheet %}
    {{ parent() }}
{% endblock %}


{% block content %}

<div class="row">
    <!--colleft-->
    <div class="col-md-8 col-sm-12">
        <div class="box-caption">
            <span>spotlight</span>
        </div>
        <!--sportlight-->
        <section class="owl-carousel owl-spotlight">

            {% for spotlight in spotlights %}
                    {% include 'component/_spotlight.html.twig' %}
            {% endfor %}

        </section>

        <!--spotlight-thumbs-->
        <section class="spotlight-thumbs">
            <div class="row">
            {% for article in articles %}
                {% include 'component/_spotlight-thumb.twig' %}
            {% endfor %}
            </div>

        </section>
    </div>

{# Sidebar #}
    {#    {% include 'component/_sidebar.html.twig' %}#}
{{ render(controller('App\\Controller\\TechNews\\IndexController::sidebar')) }}
{% endblock %}

