{% block social_medias %}
    <!-- subcribe box-->
    <div class="subcribe-box">
        <h3>{{ 'sidebar.newsletter' | trans }}</h3>
        <p>{% trans %}Register to the Newsletter to receive our latest news{% endtrans %}</p>
        <input type="text" placeholder="{{ 'sidebar.subscribe.placeholder' | trans }}" />
        <button class="my-btn">{{ 'sidebar.subscribe.btn' | trans }}</button>
    </div>
    <!-- connect us-->
    <div class="connect-us">
        <div class="widget-title">
			<span>
				{{ 'sidebar.followus' | trans }}
			</span>
        </div>
        <ul class="list-social-icon">
            <li>
                <a href="#" class="facebook">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#" class="twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#" class="google">
                    <i class="fa fa-google"></i>
                </a>
            </li>
            <li>
                <a href="#" class="youtube">
                    <i class="fa fa-youtube-play"></i>
                </a>
            </li>
            <li>
                <a href="#" class="pinterest">
                    <i class="fa fa-pinterest-p"></i>
                </a>
            </li>
            <li>
                <a href="#" class="rss">
                    <i class="fa fa-rss"></i>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}



